<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>下单</title>
</head>
<script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript">
    function flashsale() {
        $.ajax({
            // 隐藏真实URL
            url: "/order",
            type: "POST",
            data: "userId=u12345&content=hi.book&productId=1",
            cache: false,
            success: function (data) {
                if (data.success) {
                    window.location.href = "/pay?orderNo=" + data.data;
                } else {
                    alert("抢购失败，" + data.message)
                }
            },
            error: function () {
            }
        });
    }

    function batchOrder() {
        $.ajax({
            // 隐藏真实URL
            url: "/batch-order-pay",
            type: "POST",
            cache: false,
            success: function (data) {
                console.log(data)
            },
            error: function () {
            }
        });
    }
</script>
<body>
<div>
    <img src="images/img.jpg"><br/>
    <p><span style="color:red">10斤</span>美味桃子，<span style="color:red">￥9.9</span>抢到手</p><br/>
    <input type="button" value="抢购" onclick="flashsale()"/>

    <input type="button" value="批量抢购" onclick="batchOrder()"/>
</div>
</body>
</html>